<div>
  <form>
    <label for="name">Name</label>    
    <input ng-model="name" id="name"type="text" placeholder=" name" />

    <label for="email">Email</label>
    <input ng-model="email" id="email" type="text" placeholder=" email" />
    
    <h3>Games: </h3>
    <label for="ps4">PS4: </label> 
    <input ng-model="ps4" id="ps4" type="text" placeholder="Title" />

    <label for="ps3">PS3: </label> 
    <input ng-model="ps3" id="ps3" type="text" placeholder="Title" />

    <label for="xbox_one">XBOX ONE: </label> 
    <input ng-model="xbox_one" id="xbox_one" type="text" placeholder="Title" />

    <label for="xbox_360">XBOX 360: </label> 
    <input ng-model="xbox_360" id="xbox_360" type="text" placeholder="Title" />

    <button id="poster" ng-click="postCollection(name, email, ps4, ps3, xbox_one, xbox_360); ps4=''; ps3=''; xbox_one=''; 
    xbox_360=''; name=''; email='';">Post Collection</button>
    <span id="warning" ng-if='!name'>{{ message }}</span>
  </form>
</div>