<div>
  <h3>Available Collections</h3>
  <input type="text" ng-model="search" placeholder="Search">
    <div class="collection" ng-repeat="key in display | filter:search">
      <div class="listing-container">
    	<div class="collect-entry">owner: <span class="info">{{ key.name }}</span></div>
    	<div class="collect-entry">Contact: <span class="info">{{ key.email }}</span></div>
    	<div class="collect-entry">ps4 games: <span class="info">{{ key.ps4games }}</span></div>
    	<div class="collect-entry">ps3 games: <span class="info">{{ key.ps3games }}</span></div>
    	<div class="collect-entry">xbox-one games: <span class="info">{{ key.xboxgames }}</span></div>
    	<div class="collect-entry">xbox-360 games: <span class="info">{{ key.threesixtygames }}</span></div>
    </div>
  </div>  
</div>
